.noteBodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  position: relative;
}

.noteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(128, 128, 128, 0.375);
  /* border-radius: 20px; */
  padding: 1rem;
  color: black;
  box-shadow: rgba(128, 128, 128, 0.496) 10px 10px 20px 1px;
}

.pageTitle {
  font-size: 2rem;
}

.addNoteIconStyle {
  color: black;
}

.addNoteIconStyle:hover {
  color: white;
}

.cardStyle {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  padding: 2rem;
  margin: 1rem;
  border: black solid 1px;
  /* border-radius: 20px; */
  box-shadow: rgba(128, 128, 128, 0.496) 10px 10px 20px 1px;

  background-color: rgba(128, 128, 128, 0.375);
  color: black;
}

.noteTitleAndDescription {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  overflow-y: hidden;
}
.cardTitleStyle {
  font-size: 1.5rem;
  font-weight: 600;
}

.cardDescriptionStyle {
  font-size: small;
}

.noteDelAndCreateBtn {
  position: absolute;
  right: 1rem;
  bottom: 5px;
}

/* *Delete and edit buttons */
.deleteButton {
  margin: 5px;
  color: black;
}

.deleteButton:hover {
  color: rgb(250, 50, 15);
}

.editButton {
  margin: 5px;
  color: black;
}

.editButton:hover {
  color: rgb(47, 255, 0);
}

/* ------------Pop up edit modal------------- */

.modalBackdrop {
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.569);
  border-radius: 20px;
}

.modalBody {
  display: flex;
  position: fixed; /* Changed from absolute to stay in viewport */
  top: 50%; /* Move top edge to screen center */
  left: 50%; /* Move left edge to screen center */
  transform: translate(-50%, -50%); /* Pull back by half its own width/height */
  z-index: 1000; /* Ensure it sits on top of other content */
  border-radius: 20px;
  max-width: 450px;
  box-shadow: gray 10px 10px 20px 1px;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(128, 128, 128, 0.375);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  color: black;
  box-shadow: gray 10px 10px 20px 1px;
}

.closeButton {
  padding: 5px;
}

.closeButton:hover {
  color: tomato;
}

.formBodySection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 50px 50px 50px 200px 50px;
  background-color: white;
  border: black solid 2px;
  padding: 1rem;
  border-radius: 15px;
  color: black;
}

.formInputTitle {
  font-size: 1.5rem;
}

.inputsStlForms {
  border: black solid 2px;
  padding: 1.5rem;
}

.saveButton {
  background-color: rgba(128, 128, 128, 0.375);
  color: black;
  margin-top: 1rem;
  border-radius: 20px;
}

.saveButton:hover {
  background-color: black;
  color: white;
}

/* -------------Create Form-------------- */
.createFormContainer {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 1rem;
}

.createFormHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(128, 128, 128, 0.375);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  font-size: 1.5rem;
  box-shadow: gray 10px 10px 20px 1px;
  width: 100%;
}

.formBodyGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 50px) auto 50px;
  justify-self: center;
  background-color: rgba(128, 128, 128, 0.375);
  border: black solid 2px;
  padding: 1rem;
  border-radius: 15px;
  width: 800px;
  box-shadow: gray 10px 10px 20px 1px;
  color: black;
}

.userNotLoggedIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: xx-large;
}

.loginLink:hover {
  color: orangered;
}

@media (max-width: 600px) {
  .formBodyGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 50px) auto 50px;
    justify-self: center;
    background-color: rgba(128, 128, 128, 0.375);
    border: black solid 2px;
    padding: 1rem;
    border-radius: 15px;
    color: black;
    width: 400px;
    box-shadow: gray 10px 10px 20px 1px;
  }
}
