.noteBodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  position: relative;
}

.noteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    6deg,
    rgb(255, 68, 0) 20%,
    rgba(255, 68, 0, 0.539) 40%,
    rgb(170, 49, 5) 100%
  );
  border-radius: 20px;
  padding: 1rem;
  color: black;
  box-shadow: rgba(255, 68, 0, 0.322) 10px 10px 20px 1px;
}

.pageTitle {
  font-size: 2rem;
}

.addNoteIconStyle {
  color: black;
}

.addNoteIconStyle:hover {
  color: rgba(255, 0, 0, 0.33);
}

.cardStyle {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  padding: 2rem;
  margin: 1rem;
  border: orangered solid 1px;
  border-radius: 20px;
  box-shadow: rgba(255, 68, 0, 0.322) 10px 10px 20px 1px;
  background-color: rgb(2, 2, 2);
  color: orangered;
}

.noteTitleAndDescription {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  overflow-y: hidden;
}
.cardTitleStyle {
  font-size: 1.5rem;
  font-weight: 600;
}

.cardDescriptionStyle {
  font-size: small;
}

.noteDelAndCreateBtn {
  position: absolute;
  right: 1rem;
  bottom: 5px;
}

/* *Delete and edit buttons */
.deleteButton {
  margin: 5px;
  color: rgba(255, 99, 71, 0.857);
}

.deleteButton:hover {
  color: rgb(250, 50, 15);
}

.editButton {
  margin: 5px;
  color: rgba(255, 68, 0, 0.462);
}

.editButton:hover {
  color: orangered;
}

/* ------------Pop up edit modal------------- */

.modalBackdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.569);
  border-radius: 20px;
}

.modalBody {
  display: flex;
  position: fixed; /* Changed from absolute to stay in viewport */
  top: 50%; /* Move top edge to screen center */
  left: 50%; /* Move left edge to screen center */
  transform: translate(-50%, -50%); /* Pull back by half its own width/height */
  z-index: 1000; /* Ensure it sits on top of other content */
  border-radius: 20px;
  max-width: 450px;
  box-shadow: rgba(255, 68, 0, 0.322) 10px 10px 20px 1px;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    6deg,
    rgb(255, 68, 0) 20%,
    rgba(255, 68, 0, 0.539) 40%,
    rgb(170, 49, 5) 100%
  );
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  color: black;
  box-shadow: rgba(255, 68, 0, 0.322) 10px 10px 20px 1px;
}

.closeButton {
  padding: 5px;
}

.closeButton:hover {
  color: tomato;
}

.formBodySection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 50px 50px 50px 200px 50px;
  background-color: rgb(5, 5, 5);
  border: orangered solid 2px;
  padding: 1rem;
  border-radius: 15px;
  color: orangered;
}

.formInputTitle {
  font-size: 1.5rem;
}

.inputsStlForms {
  border: orangered solid 2px;

  padding: 1.5rem;
}

.saveButton {
  background-color: rgba(255, 68, 0, 0.41);
  color: black;
  margin-top: 1rem;
  border-radius: 20px;
}

.saveButton:hover {
  background-color: orangered;
}

/* -------------Create Form-------------- */
.createFormContainer {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 1rem;
}

.createFormHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    6deg,
    rgb(255, 68, 0) 20%,
    rgba(255, 68, 0, 0.539) 40%,
    rgb(170, 49, 5) 100%
  );
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  font-size: 1.5rem;
  box-shadow: rgba(255, 68, 0, 0.322) 10px 10px 20px 1px;
  width: 100%;
}

.formBodyGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 50px) auto 50px;
  justify-self: center;
  background-color: black;
  border: orangered solid 2px;
  padding: 1rem;
  border-radius: 15px;
  width: 800px;
  box-shadow: rgba(255, 68, 0, 0.322) 10px 10px 20px 1px;
  color: orangered;
}

.userNotLoggedIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: xx-large;
}

.loginLink:hover {
  color: orangered;
}

@media (max-width: 600px) {
  .formBodyGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 50px) auto 50px;
    justify-self: center;
    background-color: rgb(6, 6, 6);
    border: orangered solid 2px;
    padding: 1rem;
    border-radius: 15px;
    color: orangered;
    width: 400px;
    box-shadow: rgba(255, 68, 0, 0.322) 10px 10px 20px 1px;
  }
}
