.navBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  min-height: 3rem;
  background: linear-gradient(
    6deg,
    rgba(138, 249, 132, 0.537) 0%,
    rgba(254, 132, 132, 0.521) 35%,
    rgba(155, 248, 253, 0.527) 100%
  );
  align-items: center;
  padding: 1rem;
  color: black;
}

.loading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  min-height: 3rem;
  background: linear-gradient(
    6deg,
    rgba(138, 249, 132, 0.537) 0%,
    rgba(254, 132, 132, 0.521) 35%,
    rgba(155, 248, 253, 0.527) 100%
  );
  align-items: center;
  padding: 1rem;
  color: black;
}

.userMenu {
  display: flex;
  justify-content: space-evenly;
  width: 10rem;
  padding: 0.5rem;
}

/* .userName{
  
} */

.signupAndLoginSection {
  display: flex;
  justify-content: space-evenly;
  width: 10rem;
  padding: 0.5rem;
}

/* .logoStyle {
} */

/* .loginButtonStl {
} */

.loginButtonStl:hover {
  color: rgb(253, 4, 4);
}
