.navBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  min-height: 3rem;
  background: linear-gradient(
    6deg,
    rgba(250, 183, 102, 0.683) 0%,
    rgba(247, 7, 7, 0.623) 35%,
    rgba(214, 250, 10, 0.596) 100%
  );
  align-items: center;
  padding: 1rem;
  color: black;
}

.userMenu {
  padding: 5px;
}

/* .logoStyle {
} */

/* .loginButtonStl {
} */

.loginButtonStl:hover {
  color: rgb(253, 4, 4);
}
