.navBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 4rem;
  background: linear-gradient(
    6deg,
    rgb(9, 8, 8) 1%,
    rgb(189, 189, 194) 40%,
    gray 100%
  );
  align-items: center;
  padding: 1rem;
  color: black;
}

.loading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 4rem;
  background: linear-gradient(6deg, black 1%, white 35%, gray 100%);
  align-items: center;
  padding: 1rem;
  color: black;
}

.userMenu {
  display: flex;
  justify-content: space-evenly;
  width: 18rem;
}

/* CSS */
.button-89 {
  --b: 1px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: black;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition:
    0.3s linear,
    color 0s,
    background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

/* .userName{
  
} */

.signupAndLoginSection {
  display: flex;
  justify-content: space-evenly;
  width: 11rem;
  padding: 0.5rem;
}

.logoStyle {
  --b: 1px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #eeeff3;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition:
    0.3s linear,
    color 0s,
    background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.logoStyle:hover,
.logoStyle:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

/* .loginButtonStl {
} */

.loginButtonStl:hover {
  color: rgb(253, 4, 4);
}

@media (max-width: 600px) {
  .signupAndLoginSection {
    display: flex;
    justify-content: space-evenly;
    width: 11rem;
    padding: 0.2rem;
  }

  .logoStyle {
    --b: 1px; /* border thickness */
    --s: 0.45em; /* size of the corner */
    --color: black;

    padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(
        from 90deg at var(--b) var(--b),
        #0000 90deg,
        var(--color) 0
      )
      var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
      calc(100% - var(--b) - 2 * var(--_p));
    transition:
      0.3s linear,
      color 0s,
      background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: 0.6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .logoStyle:hover,
  .logoStyle:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: 0.05em;
  }
}
